body {
  background-color: rgb(197, 207, 211);
  margin: 25px;
}

#searchbar {
  width: 80%;
  padding: 15px;
  border-radius: 5px;
  background-color: blanchedalmond;
  margin: 0 auto;
}

#noResultError {
  margin-top: 10px;
  font-style: italic;
  color: crimson;
  display: none;
}

#doctorInformation {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(255, 235, 205, 0.9);
  margin: 25px auto;
  display: none;
}

#doctorResult {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(245, 226, 197);
}

ul {
  padding-left: 3px;
}

.address {
  list-style: none;
  margin-left: 0px;
}

.website {
  font-size: 12px;
}

.small-italics {
  font-size: 10px;
  font-style: italic;
}